# ignore any folders called 'google'
google/
google.lua

# This is just a cache for shell variables.
fish_variables

# API Keys and Secrets.
secrets.fish

# Plugin files generally start with _.
.config/fish/functions/_*.fish
.config/fish/functions/_*.py
.config/fish/conf.d/_*.fish

# Some tide-specific stuff to ignore (just install tide to get all this).
.config/fish/functions/tide
.config/fish/functions/tide.fish
.config/fish/functions/bass.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fish_mode_prompt.fish
.config/fish/completions/tide.fish

# New methodology is to put functions as aliases or by writing them out in config.fish.
# So don't save the functions folder.
config_rewrite_2025/.config/fish/functions

bass.fish
__bass.py

# Don't track hardware configuration stuff.
nixos/lxd.nix
nixos/orbstack.nix
nixos/hardware-configuration.nix
nixos/nixos-switch.log

# Ignore swap files.
*.swp
